@media(max-width:1042px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}


@media (max-width: 768px) {
    section {
        padding: 2rem 3rem;
    }

    .header {
        padding: 2rem;
    }

    .home {
        text-align: center;
        min-height: 108vh;
        flex-flow: column-reverse;
    }

    .home .image {
        padding-top: 24rem;
    }

    .logo_icon {
        margin-bottom: 5rem;
        margin-top: 10rem;
    }

}

@media(max-width:480px) {
    html {
        font-size: 50%;
    }

}

@media(max-width:425px) {
    .home .image {
        padding-top: 17rem;
    }

    .home .content h1 {
        font-size: 4.2rem;
    }

    .f_p_content h1 {
        line-height: 5rem;
    }

    .featured_products {
        flex-flow: column-reverse;
        margin: 2rem 0;
    }

    .f_p_content {
        flex: 1 1 28rem;
        margin: 0;
        text-align: center;
    }

    .f_p_image {
        flex: 1 1 36rem;
    }

    .logo_icon {
        margin-bottom: 5rem;
        margin-top: 4rem;
    }
}